<div class="introsec">
	<div class="container">
		<div class="row mt-5">
			<div class="col-md-4">
				<img src="assets/images/jaskaran.png" alt="Jaskaran" class="picjas img-fluid" />
			</div>
			<div class="col-md-6 mt-3">
				<p class="greet mb-0">Hello, world!</p>
				<p class="name mb-0">Jaskaran Singh</p>
				<p class="title text-secondary mb-0">Full Stack Developer</p>
				<p class="desc text-muted text-justify">
					I am a software engineer and a technology enthusiast, who believes that the world can become a better place using technology. I have a professional experience in Website Development and Mobile App Development. I am currently a postgraduate student at Langara working on my dream to connect the world using code. I love ice skating, gaming and connecting with new people every day.
				</p>

				<ul class="list-inline">
					<li>
						<a href="https://www.facebook.com/CoderSingh" target="_blank"><i class="fab fa-facebook-f mr-3"></i></a>
						<a href="https://twitter.com/TheCoderSingh" target="_blank"><i class="fab fa-twitter mr-3"></i></a>
						<a href="https://www.linkedin.com/in/TheCoderSingh/" target="_blank"><i class="fab fa-linkedin mr-3"></i></a>
						<a href="https://www.instagram.com/codersingh/" target="_blank"><i class="fab fa-instagram mr-3"></i></a>
						<a href="https://github.com/TheCoderSingh" target="_blank"><i class="fab fa-github"></i></a>
					</li>
				</ul>

				<button type="button" class="btn btn-primary pl-4 pr-4" id="abtme">
					About Me
				</button>
			</div>
			<div class="col-md-2 mt-3">
				<a href="https://drive.google.com/open?id=1ZdnFZ8bsq5V78R4vgF6uScz8OyheM3n4" target="_blank" class="text-white">
					<button type="button" class="btn btn-info">
						My Resume
					</button>
				</a>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div id="skillsection">
		<div class="container">
			<div class="row skills">
				<div class="col-md-12">
					<p class="text-center sectionhead">
						<span class="subtxt">Skills</span> &
						<span class="subtxt">Expertise</span>
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<p class="text-center skilldesc text-muted">
						To achieve the goals, one must possess intelligence,
						skillfulness and clear intention. With constant practice
						and hard work, anything can be achieved. I work on these
						technologies all night long to add more to the list.
					</p>
				</div>
			</div>
			<div class="row text-center">
				<div class="col-md-12">
					<img src="assets/images/html5.png" alt="HTML5" class="img-fluid skill m-4" />
					<img src="assets/images/css3.png" alt="CSS3" class="img-fluid skill m-4" />
					<img src="assets/images/js.png" alt="JS" class="img-fluid skill m-4" />
					<img src="assets/images/jquery.png" alt="jQuery" class="img-fluid skill m-4" />
					<img src="assets/images/bootstrap.png" alt="Bootstrap" class="img-fluid skill m-4" />
					<img src="assets/images/photoshop.png" alt="Photoshop" class="img-fluid skill m-4" />
					<img src="assets/images/nodejs.png" alt="Node JS" class="img-fluid skill m-4" />
					<img src="assets/images/angular.png" alt="Angular" class="img-fluid skill m-4" />
					<img src="assets/images/firebase.png" alt="Firebase" class="img-fluid skill m-4" />
					<img src="assets/images/pwa.png" alt="PWA" class="img-fluid skill m-4" />
					<img src="assets/images/pawn.png" alt="Pawn" class="img-fluid skill m-4" />
					<img src="assets/images/github.png" alt="GitHub" class="img-fluid skill m-4" />
					<img src="assets/images/telegram.png" alt="Telegram" class="img-fluid skill m-4" />
				</div>
			</div>
		</div>
	</div>
</div>
<div id="exp" class="pt-5">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<p class="text-center sectionhead exptxt">
					Experience
				</p>
			</div>
		</div>
		<div class="container">
			<hr />
			<div class="row align-items-center">
				<div class="col-md-6 text-justify" id="expcont">
					<div id="expleft">
						<div class="row mt-5">
							<div class="row">
								<div class="col-md-12 job mb-5">
									<div class="jobtitle">
										<p class="mb-0">
											Chief Technology Officer
										</p>
									</div>
									<div class="company">
										<p class="mb-0">
											Netscrew Technologies
										</p>
									</div>
									<div class="duration">
										<p>(November 2018 - Present)</p>
									</div>
									<div class="jobdesc">
										Working on my startup and actively
										looking for new projects. Various
										technologies such as HTML5, CSS3,
										Angular, Firebase etc. are being used to
										develop quality products for clients.
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="row">
									<div class="col-md-6 job mb-5">
										<div class="jobtitle">
											<p class="mb-0">
												Software Engineer
											</p>
										</div>
										<div class="company">
											<p class="mb-0">
												Geekers Technologies
											</p>
										</div>
										<div class="duration">
											<p>(July 2018 - October 2018)</p>
										</div>
										<div class="jobdesc">
											Worked on various technologies
											including Angular, React Native,
											Django, Laravel etc.
										</div>
									</div>
									<div class="col-md-6 job mb-5">
										<div class="jobtitle">
											<p class="mb-0">Bootcamp Intern</p>
										</div>
										<div class="company">
											<p class="mb-0">Statusbrew</p>
										</div>
										<div class="duration">
											<p>(June 2018)</p>
										</div>
										<div class="jobdesc">
											Worked on the PHP framework Symfony,
											Docker, Redis and many other
											technologies
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row mb-5">
							<div class="col-md-12">
								<div class="row">
									<div class="col-md-6 job mb-5">
										<div class="jobtitle">
											<p class="mb-0">Bootcamp Intern</p>
										</div>
										<div class="company">
											<p class="mb-0">Statusbrew</p>
										</div>
										<div class="duration">
											<p>(June 2017)</p>
										</div>
										<div class="jobdesc">
											Worked on Angular 4 and created
											'Phonebook' and 'Todo' applications.
										</div>
									</div>
									<div class="col-md-6 job">
										<div class="jobtitle">
											<p class="mb-0">
												Digital Marketing Intern
											</p>
										</div>
										<div class="company">
											<p class="mb-0">Notice App</p>
										</div>
										<div class="duration">
											<p>(November 2016)</p>
										</div>
										<div class="jobdesc">
											Main responsibilities included
											marketing and promotion of the app.
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 text-center">
					<div class="office">
						<img src="assets/images/jaslaptop3.png" alt="Experience" class="img-fluid" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div id="projects">
		<div class="container">
			<!-- <div class="row">
				<div class="col-md-12 mb-4">
					<p class="text-center sectionhead exptxt">
						Projects
					</p>
				</div>
			</div> -->
			<div id="desktopproj">
				<div class="container-fluid">
					<div id="education" class="pt-1">
						<div class="container">
							<div id="desktopproj">
								<div class="row text-center mt-5">
									<div class="col-md-12">
										<p class="projhead">
											<i class="fas fa-user-ninja"></i> Education
										</p>
									</div>
								</div>
								<div class="row text-center">
									<div class="col-md-6">
										<div class="proj mb-3">
											<p class="projtitle mb-0">Web & Mobile App Development</p>
											<p class="projtech mb-0">
												<span class="projsubhead">Post Degree Diploma</span>
											</p>
											<p class="projtech mb-0">
												<span class="projsubhead">Langara College, Vancouver</span>
											</p>
										</div>
									</div>
									<div class="col-md-6">
										<div class="proj mb-3">
											<p class="projtitle mb-0">Bachelor's in Computer Applications</p>
											<p class="projtech mb-0">
												<span class="projsubhead">Bachelor's Degree</span>
											</p>
											<p class="projtech mb-0">
												<span class="projsubhead">Apeejay College of Fine Arts, Jalandhar</span>
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="accordion" id="accordionExample">
								<div class="card" class="projmobhead">
									<div class="card-header" id="headingOne">
										<h2 class="mb-0" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
											<button class="btn btn-link" type="button">
												<i class="fas fa-briefcase"></i> Projects
											</button>
											<i class="fas fa-caret-down"></i>
										</h2>
									</div>
									<div id="collapseOne" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordionExample">
										<div class="card-body">
											<div class="row">
												<div class="col-md-4">
													<div class="proj mb-3">
														<p class="projtitle mb-0">
															Crypto Live
														</p>
														<p class="projtech mb-0">
															<span class="projsubhead">Technologies:</span>
															Angular 7 & CoinBase API
														</p>
														<p class="projlink">
															<span class="projsubhead">View:
															</span>
															<a href="https://thecodersingh.github.io/crypto-live/" target="_blank">Click
																Here</a>
														</p>
													</div>
													<div class="proj mb-3">
														<p class="projtitle mb-0">
															Telegram Scraper & Adder
														</p>
														<p class="projtech mb-0">
															<span class="projsubhead">Technologies:</span>
															Python & Telegram API
														</p>
														<p class="projlink">
															<span class="projsubhead">View:
															</span>
															<a href="#" target="_blank">Click Here</a>
														</p>
													</div>
													<div class="proj mb-3">
														<p class="projtitle mb-0">
															Telegram Bulk Message Sender
														</p>
														<p class="projtech mb-0">
															<span class="projsubhead">Technologies:</span>
															Python, Telegram API & Telegram Bot
															API
														</p>
														<p class="projlink">
															<span class="projsubhead">View:
															</span>
															<a href="#" target="_blank">Click Here</a>
														</p>
													</div>
													<div class="proj mb-3">
														<p class="projtitle mb-0">
															Jumpster Template
														</p>
														<p class="projtech mb-0">
															<span class="projsubhead">Technologies:</span>
															HTML, CSS, Javascript, jQuery
														</p>
														<p class="projlink">
															<span class="projsubhead">View:
															</span>
															<a href="http://jumpster.netscrewtech.com/" target="_blank">Click Here</a>
														</p>
													</div>
													<div class="proj mb-3">
														<p class="projtitle mb-0">
															StayTuned Web App
														</p>
														<p class="projtech mb-0">
															<span class="projsubhead">Technologies:</span>
															Angular 7, NewsAPI & Bootstrap
														</p>
														<p class="projlink">
															<span class="projsubhead">View:
															</span>
															<a href="https://thecodersingh.github.io/staytuned/" target="_blank">Click
																Here</a>
														</p>
													</div>
													<div class="proj mb-3">
														<p class="projtitle mb-0">
															SA:MP Roleplay Server
														</p>
														<p class="projtech mb-0">
															<span class="projsubhead">Technologies:</span>
															Pawn
														</p>
														<p class="projlink">
															<span class="projsubhead">View:
															</span>
															<a href="#" target="_blank">Click Here</a>
														</p>
													</div>
													<div class="proj mb-3">
														<p class="projtitle mb-0">
															SA:MP CnR Server
														</p>
														<p class="projtech mb-0">
															<span class="projsubhead">Technologies:</span>
															Pawn
														</p>
														<p class="projlink">
															<span class="projsubhead">View:
															</span>
															<a href="#" target="_blank">Click Here</a>
														</p>
													</div>
													<div class="proj mb-3">
														<p class="projtitle mb-0">
															EMI Calculator
														</p>
														<p class="projtech mb-0">
															<span class="projsubhead">Technologies:</span>
															Bootstrap & Angular 7
														</p>
														<p class="projlink">
															<span class="projsubhead">View:
															</span>
															<a href="http://emicalculators.net/" target="_blank">Click Here</a>
														</p>
													</div>
													<div class="proj mb-3">
														<p class="projtitle mb-0">Elixir</p>
														<p class="projtech mb-0">
															<span class="projsubhead">Technologies:</span>
															HTML, CSS, Javascript, jQuery
														</p>
														<p class="projlink">
															<span class="projsubhead">View:
															</span>
															<a href="https://thecodersingh.github.io/elixir18/" target="_blank">Click
																Here</a>
														</p>
													</div>
													<div class="proj mb-3">
														<p class="projtitle mb-0">
															To-Do Web App
														</p>
														<p class="projtech mb-0">
															<span class="projsubhead">Technologies:</span>
															Angular 4 & Bootstrap
														</p>
														<p class="projlink">
															<span class="projsubhead">View:
															</span>
															<a href="https://thecodersingh.github.io/todo/" target="_blank">Click
																Here</a>
														</p>
													</div>
													<div class="proj mb-3">
														<p class="projtitle mb-0">
															Phonebook Web App
														</p>
														<p class="projtech mb-0">
															<span class="projsubhead">Technologies:</span>
															Angular 4 & Bootstrap
														</p>
														<p class="projlink">
															<span class="projsubhead">View:
															</span>
															<a href="https://thecodersingh.github.io/phonebook/" target="_blank">Click
																Here</a>
														</p>
													</div>
													<div class="proj mb-3">
														<p class="projtitle mb-0">
															Zoom Dry Cleaning Template
														</p>
														<p class="projtech mb-0">
															<span class="projsubhead">Technologies:</span>
															HTML & CSS
														</p>
														<p class="projlink">
															<span class="projsubhead">View:
															</span>
															<a href="https://thecodersingh.github.io/zoomdrycleaning/" target="_blank">Click Here</a>
														</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="card" class="projmobhead">
									<div class="card-header" id="headingTwo">
										<h2 class="mb-0" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
											<button class="btn btn-link" type="button">
												<i class="far fa-newspaper"></i> Publications
											</button>
											<i class="fas fa-caret-down"></i>
										</h2>
									</div>
									<div id="collapseTwo" class="collapse hide" aria-labelledby="headingTwo" data-parent="#accordionExample">
										<div class="card-body">
											<div class="proj mb-3">
												<p class="projtitle mb-0">The World of Pawn</p>
												<p class="projtech mb-0">
													<span class="projsubhead">Date Published:</span>
													January 7, 2019
												</p>
												<p class="projlink">
													<span class="projsubhead">View: </span>
													<a href="https://medium.com/netscrew-technologies/the-world-of-pawn-a80cd2731606" target="_blank">Click Here</a>
												</p>
											</div>
											<div class="proj mb-3">
												<p class="projtitle mb-0">var, let & const — An Overview and Comparison</p>
												<p class="projtech mb-0">
													<span class="projsubhead">Date Published:</span>
													March 3, 2019
												</p>
												<p class="projlink">
													<span class="projsubhead">View: </span>
													<a href="https://medium.com/netscrew-technologies/var-let-const-an-overview-and-comparison-3f1220b21774" target="_blank">Click Here</a>
												</p>
											</div>
											<div class="proj mb-3">
												<p class="projtitle mb-0">Elucidating Arrow Functions in JavaScript</p>
												<p class="projtech mb-0">
													<span class="projsubhead">Date Published:</span>
													March 5, 2019
												</p>
												<p class="projlink">
													<span class="projsubhead">View: </span>
													<a href="https://medium.com/netscrew-technologies/elucidating-arrow-functions-in-javascript-236d91bcbf5d" target="_blank">Click Here</a>
												</p>
											</div>
											<div class="proj mb-3">
												<p class="projtitle mb-0">3 Women Who Made The Tech Community Proud</p>
												<p class="projtech mb-0">
													<span class="projsubhead">Date Published:</span>
													March 8, 2019
												</p>
												<p class="projlink">
													<span class="projsubhead">View: </span>
													<a href="https://medium.com/netscrew-technologies/3-women-who-made-the-tech-community-proud-f9963ce92e77" target="_blank">Click Here</a>
												</p>
											</div>
										</div>
									</div>
								</div>
								<div class="card" class="projmobhead">
									<div class="card-header" id="headingThree">
										<h2 class="mb-0" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
											<button class="btn btn-link" type="button">
												<i class="fas fa-user-ninja"></i> Talks
											</button>
											<i class="fas fa-caret-down"></i>
										</h2>
									</div>
									<div id="collapseThree" class="collapse hide" aria-labelledby="headingThree" data-parent="#accordionExample">
										<div class="card-body">
											<div class="proj mb-3">
												<p class="projtitle mb-0">Git & GitHub</p>
												<p class="projtech mb-0">
													<span class="projsubhead">Location:</span>
													Apeejay College of Fine Arts
												</p>
												<p class="projlink">
													<span class="projsubhead">View: </span>
													<a href="https://docs.google.com/presentation/d/1RTPtsMekxfYQ5w6rINh5_HrgifOMgVzWeC0cS3v6epg/edit?usp=sharing" target="_blank">Click Here</a>
												</p>
											</div>
											<div class="proj mb-3">
												<p class="projtitle mb-0">CS50 Jalandhar</p>
												<p class="projtech mb-0">
													<span class="projsubhead">Location:</span>
													Apeejay College of Fine Arts
												</p>
												<p class="projlink">
													<span class="projsubhead">View: </span>
													<a href="#" target="_blank">Click Here</a>
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row text-center">
					<div class="col-md-12">
						<p class="projhead mt-5">
							<i class="fas fa-briefcase"></i> Projects
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="proj mb-3">
							<p class="projtitle mb-0">
								Crypto Live
							</p>
							<p class="projtech mb-0">
								<span class="projsubhead">Technologies:</span>
								Angular 7 & CoinBase API
							</p>
							<p class="projlink">
								<span class="projsubhead">View: </span>
								<a href="https://thecodersingh.github.io/crypto-live/" target="_blank">Click Here</a>
							</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="proj mb-3">
							<p class="projtitle mb-0">
								Telegram Scraper & Adder
							</p>
							<p class="projtech mb-0">
								<span class="projsubhead">Technologies:</span>
								Python & Telegram API
							</p>
							<p class="projlink">
								<span class="projsubhead">View: </span>
								<a href="#" target="_blank">Click Here</a>
							</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="proj mb-3">
							<p class="projtitle mb-0">
								Telegram Bulk Message Sender
							</p>
							<p class="projtech mb-0">
								<span class="projsubhead">Technologies:</span>
								Python, Telegram API & Telegram Bot API
							</p>
							<p class="projlink">
								<span class="projsubhead">View: </span>
								<a href="#" target="_blank">Click Here</a>
							</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="proj mb-3">
							<p class="projtitle mb-0">Jumpster Template</p>
							<p class="projtech mb-0">
								<span class="projsubhead">Technologies:</span>
								HTML, CSS, Javascript, jQuery
							</p>
							<p class="projlink">
								<span class="projsubhead">View: </span>
								<a href="http://jumpster.netscrewtech.com/" target="_blank">Click Here</a>
							</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="proj mb-3">
							<p class="projtitle mb-0">
								StayTuned Web App
							</p>
							<p class="projtech mb-0">
								<span class="projsubhead">Technologies:</span>
								Angular 7, NewsAPI & Bootstrap
							</p>
							<p class="projlink">
								<span class="projsubhead">View: </span>
								<a href="https://thecodersingh.github.io/staytuned/" target="_blank">Click Here</a>
							</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="proj mb-3">
							<p class="projtitle mb-0">
								SA:MP Roleplay Server
							</p>
							<p class="projtech mb-0">
								<span class="projsubhead">Technologies:</span>
								Pawn
							</p>
							<p class="projlink">
								<span class="projsubhead">View: </span>
								<a href="#" target="_blank">Click Here</a>
							</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="proj mb-3">
							<p class="projtitle mb-0">
								SA:MP CnR Server
							</p>
							<p class="projtech mb-0">
								<span class="projsubhead">Technologies:</span>
								Pawn
							</p>
							<p class="projlink">
								<span class="projsubhead">View: </span>
								<a href="#" target="_blank">Click Here</a>
							</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="proj mb-3">
							<p class="projtitle mb-0">EMI Calculator</p>
							<p class="projtech mb-0">
								<span class="projsubhead">Technologies:</span>
								Bootstrap & Angular 7
							</p>
							<p class="projlink">
								<span class="projsubhead">View: </span>
								<a href="http://emicalculators.net/" target="_blank">Click Here</a>
							</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="proj mb-3">
							<p class="projtitle mb-0">Elixir</p>
							<p class="projtech mb-0">
								<span class="projsubhead">Technologies:</span>
								HTML, CSS, Javascript, jQuery
							</p>
							<p class="projlink">
								<span class="projsubhead">View: </span>
								<a href="https://thecodersingh.github.io/elixir18/" target="_blank">Click Here</a>
							</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="proj mb-3">
							<p class="projtitle mb-0">To-Do Web App</p>
							<p class="projtech mb-0">
								<span class="projsubhead">Technologies:</span>
								Angular 4 & Bootstrap
							</p>
							<p class="projlink">
								<span class="projsubhead">View: </span>
								<a href="https://thecodersingh.github.io/todo/" target="_blank">Click Here</a>
							</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="proj mb-3">
							<p class="projtitle mb-0">Phonebook Web App</p>
							<p class="projtech mb-0">
								<span class="projsubhead">Technologies:</span>
								Angular 4 & Bootstrap
							</p>
							<p class="projlink">
								<span class="projsubhead">View: </span>
								<a href="https://thecodersingh.github.io/phonebook/" target="_blank">Click Here</a>
							</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="proj mb-3">
							<p class="projtitle mb-0">
								Zoom Dry Cleaning Template
							</p>
							<p class="projtech mb-0">
								<span class="projsubhead">Technologies:</span>
								HTML & CSS
							</p>
							<p class="projlink">
								<span class="projsubhead">View: </span>
								<a href="https://thecodersingh.github.io/zoomdrycleaning/" target="_blank">Click
									Here</a>
							</p>
						</div>
					</div>
				</div>
				<div class="row text-center mt-5">
					<div class="col-md-12">
						<p class="projhead">
							<i class="far fa-newspaper"></i> Publications
						</p>
					</div>
				</div>
				<div class="row text-center">
					<div class="col-md-4">
						<div class="proj mb-3">
							<p class="projtitle mb-0">The World of Pawn</p>
							<p class="projtech mb-0">
								<span class="projsubhead">Date Published:</span>
								January 7, 2019
							</p>
							<p class="projlink">
								<span class="projsubhead">View: </span>
								<a href="https://medium.com/netscrew-technologies/the-world-of-pawn-a80cd2731606" target="_blank">Click Here</a>
							</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="proj mb-3">
							<p class="projtitle mb-0">var, let & const — An Overview and Comparison</p>
							<p class="projtech mb-0">
								<span class="projsubhead">Date Published:</span>
								March 3, 2019
							</p>
							<p class="projlink">
								<span class="projsubhead">View: </span>
								<a href="https://medium.com/netscrew-technologies/var-let-const-an-overview-and-comparison-3f1220b21774" target="_blank">Click Here</a>
							</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="proj mb-3">
							<p class="projtitle mb-0">Elucidating Arrow Functions in JavaScript</p>
							<p class="projtech mb-0">
								<span class="projsubhead">Date Published:</span>
								March 5, 2019
							</p>
							<p class="projlink">
								<span class="projsubhead">View: </span>
								<a href="https://medium.com/netscrew-technologies/elucidating-arrow-functions-in-javascript-236d91bcbf5d" target="_blank">Click Here</a>
							</p>
						</div>
					</div>
				</div>
				<div class="row text-center">
					<div class="col-md-12">
						<div class="proj mb-3">
							<p class="projtitle mb-0">3 Women Who Made The Tech Community Proud</p>
							<p class="projtech mb-0">
								<span class="projsubhead">Date Published:</span>
								March 8, 2019
							</p>
							<p class="projlink">
								<span class="projsubhead">View: </span>
								<a href="https://medium.com/netscrew-technologies/3-women-who-made-the-tech-community-proud-f9963ce92e77" target="_blank">Click Here</a>
							</p>
						</div>
					</div>
				</div>
				<div class="row text-center mt-5">
					<div class="col-md-12">
						<p class="projhead">
							<i class="fas fa-user-ninja"></i> Talks
						</p>
					</div>
				</div>
				<div class="row text-center">
					<div class="col-md-6">
						<div class="proj mb-3">
							<p class="projtitle mb-0">Git & GitHub</p>
							<p class="projtech mb-0">
								<span class="projsubhead">Location:</span>
								Apeejay College of Fine Arts
							</p>
							<p class="projlink">
								<span class="projsubhead">View: </span>
								<a href="https://docs.google.com/presentation/d/1RTPtsMekxfYQ5w6rINh5_HrgifOMgVzWeC0cS3v6epg/edit?usp=sharing" target="_blank">Click Here</a>
							</p>
						</div>
					</div>
					<div class="col-md-6">
						<div class="proj mb-3">
							<p class="projtitle mb-0">CS50 Jalandhar</p>
							<p class="projtech mb-0">
								<span class="projsubhead">Location:</span>
								Apeejay College of Fine Arts
							</p>
							<p class="projlink">
								<span class="projsubhead">View: </span>
								<a href="#" target="_blank">Click Here</a>
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="accordion" id="accordionExample">
				<div class="card" class="projmobhead">
					<div class="card-header" id="headingOne">
						<h2 class="mb-0" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							<button class="btn btn-link" type="button">
								<i class="fas fa-briefcase"></i> Projects
							</button>
							<i class="fas fa-caret-down"></i>
						</h2>
					</div>
					<div id="collapseOne" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordionExample">
						<div class="card-body">
							<div class="row">
								<div class="col-md-4">
									<div class="proj mb-3">
										<p class="projtitle mb-0">
											Crypto Live
										</p>
										<p class="projtech mb-0">
											<span class="projsubhead">Technologies:</span>
											Angular 7 & CoinBase API
										</p>
										<p class="projlink">
											<span class="projsubhead">View:
											</span>
											<a href="https://thecodersingh.github.io/crypto-live/" target="_blank">Click
												Here</a>
										</p>
									</div>
									<div class="proj mb-3">
										<p class="projtitle mb-0">
											Telegram Scraper & Adder
										</p>
										<p class="projtech mb-0">
											<span class="projsubhead">Technologies:</span>
											Python & Telegram API
										</p>
										<p class="projlink">
											<span class="projsubhead">View:
											</span>
											<a href="#" target="_blank">Click Here</a>
										</p>
									</div>
									<div class="proj mb-3">
										<p class="projtitle mb-0">
											Telegram Bulk Message Sender
										</p>
										<p class="projtech mb-0">
											<span class="projsubhead">Technologies:</span>
											Python, Telegram API & Telegram Bot
											API
										</p>
										<p class="projlink">
											<span class="projsubhead">View:
											</span>
											<a href="#" target="_blank">Click Here</a>
										</p>
									</div>
									<div class="proj mb-3">
										<p class="projtitle mb-0">
											Jumpster Template
										</p>
										<p class="projtech mb-0">
											<span class="projsubhead">Technologies:</span>
											HTML, CSS, Javascript, jQuery
										</p>
										<p class="projlink">
											<span class="projsubhead">View:
											</span>
											<a href="http://jumpster.netscrewtech.com/" target="_blank">Click Here</a>
										</p>
									</div>
									<div class="proj mb-3">
										<p class="projtitle mb-0">
											StayTuned Web App
										</p>
										<p class="projtech mb-0">
											<span class="projsubhead">Technologies:</span>
											Angular 7, NewsAPI & Bootstrap
										</p>
										<p class="projlink">
											<span class="projsubhead">View:
											</span>
											<a href="https://thecodersingh.github.io/staytuned/" target="_blank">Click
												Here</a>
										</p>
									</div>
									<div class="proj mb-3">
										<p class="projtitle mb-0">
											SA:MP Roleplay Server
										</p>
										<p class="projtech mb-0">
											<span class="projsubhead">Technologies:</span>
											Pawn
										</p>
										<p class="projlink">
											<span class="projsubhead">View:
											</span>
											<a href="#" target="_blank">Click Here</a>
										</p>
									</div>
									<div class="proj mb-3">
										<p class="projtitle mb-0">
											SA:MP CnR Server
										</p>
										<p class="projtech mb-0">
											<span class="projsubhead">Technologies:</span>
											Pawn
										</p>
										<p class="projlink">
											<span class="projsubhead">View:
											</span>
											<a href="#" target="_blank">Click Here</a>
										</p>
									</div>
									<div class="proj mb-3">
										<p class="projtitle mb-0">
											EMI Calculator
										</p>
										<p class="projtech mb-0">
											<span class="projsubhead">Technologies:</span>
											Bootstrap & Angular 7
										</p>
										<p class="projlink">
											<span class="projsubhead">View:
											</span>
											<a href="http://emicalculators.net/" target="_blank">Click Here</a>
										</p>
									</div>
									<div class="proj mb-3">
										<p class="projtitle mb-0">Elixir</p>
										<p class="projtech mb-0">
											<span class="projsubhead">Technologies:</span>
											HTML, CSS, Javascript, jQuery
										</p>
										<p class="projlink">
											<span class="projsubhead">View:
											</span>
											<a href="https://thecodersingh.github.io/elixir18/" target="_blank">Click
												Here</a>
										</p>
									</div>
									<div class="proj mb-3">
										<p class="projtitle mb-0">
											To-Do Web App
										</p>
										<p class="projtech mb-0">
											<span class="projsubhead">Technologies:</span>
											Angular 4 & Bootstrap
										</p>
										<p class="projlink">
											<span class="projsubhead">View:
											</span>
											<a href="https://thecodersingh.github.io/todo/" target="_blank">Click
												Here</a>
										</p>
									</div>
									<div class="proj mb-3">
										<p class="projtitle mb-0">
											Phonebook Web App
										</p>
										<p class="projtech mb-0">
											<span class="projsubhead">Technologies:</span>
											Angular 4 & Bootstrap
										</p>
										<p class="projlink">
											<span class="projsubhead">View:
											</span>
											<a href="https://thecodersingh.github.io/phonebook/" target="_blank">Click
												Here</a>
										</p>
									</div>
									<div class="proj mb-3">
										<p class="projtitle mb-0">
											Zoom Dry Cleaning Template
										</p>
										<p class="projtech mb-0">
											<span class="projsubhead">Technologies:</span>
											HTML & CSS
										</p>
										<p class="projlink">
											<span class="projsubhead">View:
											</span>
											<a href="https://thecodersingh.github.io/zoomdrycleaning/" target="_blank">Click Here</a>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card" class="projmobhead">
					<div class="card-header" id="headingTwo">
						<h2 class="mb-0" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
							<button class="btn btn-link" type="button">
								<i class="far fa-newspaper"></i> Publications
							</button>
							<i class="fas fa-caret-down"></i>
						</h2>
					</div>
					<div id="collapseTwo" class="collapse hide" aria-labelledby="headingTwo" data-parent="#accordionExample">
						<div class="card-body">
							<div class="proj mb-3">
								<p class="projtitle mb-0">The World of Pawn</p>
								<p class="projtech mb-0">
									<span class="projsubhead">Date Published:</span>
									January 7, 2019
								</p>
								<p class="projlink">
									<span class="projsubhead">View: </span>
									<a href="https://medium.com/netscrew-technologies/the-world-of-pawn-a80cd2731606" target="_blank">Click Here</a>
								</p>
							</div>
							<div class="proj mb-3">
								<p class="projtitle mb-0">var, let & const — An Overview and Comparison</p>
								<p class="projtech mb-0">
									<span class="projsubhead">Date Published:</span>
									March 3, 2019
								</p>
								<p class="projlink">
									<span class="projsubhead">View: </span>
									<a href="https://medium.com/netscrew-technologies/var-let-const-an-overview-and-comparison-3f1220b21774" target="_blank">Click Here</a>
								</p>
							</div>
							<div class="proj mb-3">
								<p class="projtitle mb-0">Elucidating Arrow Functions in JavaScript</p>
								<p class="projtech mb-0">
									<span class="projsubhead">Date Published:</span>
									March 5, 2019
								</p>
								<p class="projlink">
									<span class="projsubhead">View: </span>
									<a href="https://medium.com/netscrew-technologies/elucidating-arrow-functions-in-javascript-236d91bcbf5d" target="_blank">Click Here</a>
								</p>
							</div>
							<div class="proj mb-3">
								<p class="projtitle mb-0">3 Women Who Made The Tech Community Proud</p>
								<p class="projtech mb-0">
									<span class="projsubhead">Date Published:</span>
									March 8, 2019
								</p>
								<p class="projlink">
									<span class="projsubhead">View: </span>
									<a href="https://medium.com/netscrew-technologies/3-women-who-made-the-tech-community-proud-f9963ce92e77" target="_blank">Click Here</a>
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="card" class="projmobhead">
					<div class="card-header" id="headingThree">
						<h2 class="mb-0" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
							<button class="btn btn-link" type="button">
								<i class="fas fa-user-ninja"></i> Talks
							</button>
							<i class="fas fa-caret-down"></i>
						</h2>
					</div>
					<div id="collapseThree" class="collapse hide" aria-labelledby="headingThree" data-parent="#accordionExample">
						<div class="card-body">
							<div class="proj mb-3">
								<p class="projtitle mb-0">Git & GitHub</p>
								<p class="projtech mb-0">
									<span class="projsubhead">Location:</span>
									Apeejay College of Fine Arts
								</p>
								<p class="projlink">
									<span class="projsubhead">View: </span>
									<a href="https://docs.google.com/presentation/d/1RTPtsMekxfYQ5w6rINh5_HrgifOMgVzWeC0cS3v6epg/edit?usp=sharing" target="_blank">Click Here</a>
								</p>
							</div>
							<div class="proj mb-3">
								<p class="projtitle mb-0">CS50 Jalandhar</p>
								<p class="projtech mb-0">
									<span class="projsubhead">Location:</span>
									Apeejay College of Fine Arts
								</p>
								<p class="projlink">
									<span class="projsubhead">View: </span>
									<a href="#" target="_blank">Click Here</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="samples">
	<div class="container-fluid">
		<div id="projects" class="text-center">
			<div class="container">
				<div class="card-header" id="headingThree">
					<h2 class="mb-0" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
						<button class="btn btn-link" type="button">
							<i class="fas fa-user-ninja"></i> Work Samples
						</button>
					</h2>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="proj mb-3">
							<p class="projtitle mb-0 mt-3">
								Object Oriented Analysis: Design a Video Game
							</p>
							<p class="projtech mb-0">
								<span class="projsubhead">Course:</span>
								WMDD 4930 at Langara
							</p>
							<p class="projlink">
								<br>
								<span class="projsubhead">Problem: Select the class attributes, instance attributes, and methods that are most relevant for creating a video game with the given features.</span>
								<br><br>
								<span class="projsubhead">Solution: Completed a step-by-step analysis of the object oriented process and attibutes selection and identified the necessary components.</span>
								<br><br>
								<span class="projsubhead">View Problem: </span>
								<a href="https://drive.google.com/open?id=1Pwo8iyw0Z3dDuyGPh5foGpgphHW0Wd_L" target="_blank">Click Here</a>
								<br>
								<span class="projsubhead">View Solution: </span>
								<a href="https://drive.google.com/open?id=11u6cMBmEzV5gmSEyfElDPZHmMNbmAh98" target="_blank">Click Here</a>
							</p>
						</div>
					</div>
					<div class="col-md-6">
						<div class="proj mb-3">
							<p class="projtitle mb-0 mt-3">
								Research Assignment for Industry Topics
							</p>
							<p class="projtech mb-0">
								<span class="projsubhead">Course:</span>
								WMDD 4990 at Langara
							</p>
							<p class="projlink">
								<br>
								<span class="projsubhead">Problem: Find any company, anywhere, and research the who, what, where, why, when, how about them. Provide a report of the company you found with this information, and what it was you particularly liked about them and/or the technology, how you think it could change the world/future.</span>
								<br><br>
								<span class="projsubhead">Solution: Looked up for the basic Who, what, where, why and when and created a rough structure. Then, I populated the structure with real information from a blockchain company.</span>
								<br><br>
								<span class="projsubhead">View: </span>
								<a href="https://drive.google.com/open?id=11SwwfWReU0kWS8Tffv-rxzaVjUqgd3-o" target="_blank">Click Here</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
