.picjas {
	max-height: 350px;
}

.greet, .name, .title {
	font-family: 'Lato', sans-serif;
}

.greet {
	font-size: 2.2em;
	color: darkcyan;
}

.name {
	font-size: 3em;
	font-weight: bold;
	color: darkslategray;
}

.title {
	font-size: 3.2em;
	font-weight: bold;
}

.desc {
	font-size: 1.15em;
}

.fab {
	color: #444 !important;
	font-size: 1.25em;
}

#abtme {
	border: 2px solid darkslategray;
	background: transparent;
	color: darkslategray;
	border-radius: 0px;
	font-size: 0.7em;
}

#abtme:hover {
	background-color: darkslategray;
	color: #FFF;
}

.skills {
	margin-top: 7rem;
}

.sectionhead {
	color: #444;
	font-size: 2.5em;
	font-weight: bold;
	font-family: 'Lato', sans-serif;
}

.subtxt {
	color: darkslategray;
}