.picjas {
	max-height: 350px;
	border: 7px solid darkslategray;
	border-radius: 1%;
}

.greet,
.name,
.title {
	font-family: "Lato", sans-serif;
}

.greet {
	font-size: 2.2em;
	color: darkcyan;
}

.name {
	font-size: 3em;
	font-weight: bold;
	color: darkslategray;
}

.title {
	font-size: 3.2em;
	font-weight: bold;
}

.desc {
	font-size: 1.15em;
}

.fab {
	color: #444 !important;
	font-size: 1.25em;
}

#abtme {
	border: 2px solid darkslategray;
	background: transparent;
	color: darkslategray;
	border-radius: 0px;
	font-size: 0.7em;
}

#abtme:hover {
	background-color: darkslategray;
	color: #fff;
}

.skills {
	margin-top: 7rem;
}

.sectionhead {
	color: #444;
	font-size: 2.5em;
	font-weight: bold;
	font-family: "Lato", sans-serif;
	padding-top: 3rem;
}

.subtxt {
	color: darkslategray;
}

.skill {
	max-width: 100px;
	max-height: 100px;
}

.skilldesc {
	font-family: "Lato", sans-serif;
	padding-left: 10%;
	padding-right: 10%;
}

#exp {
	/* background-color: #efefef;
	padding-bottom: 60px; */
}

.exptxt {
	color: darkslategray;
}

.jobtitle,
.company,
.duration {
	font-family: "Lato", sans-serif;
}

.jobtitle {
	font-size: 1.3em;
	/* color: #5d56bb; */
	/* font-weight: bold; */
	color: #4a148c;
}

.company {
	font-size: 1.2em;
}

.duration {
	font-size: 0.9em;
}

#skillsection {
	background-color: #efefef;
	padding-bottom: 60px;
}

@media only screen and (max-width: 767px) {
	.introsec {
		text-align: center;
	}

	.picjas {
		max-height: 250px;
		border: 3px solid darkslategray;
	}

	.office {
		display: none;
	}

	.title {
		font-size: 2.8em;
	}

	.name {
		font-size: 2.5em;
	}

	.greet {
		font-size: 1.9em;
	}
}
