<div class="introsec">
	<div class="container">
		<div class="row mt-5">
			<div class="col-md-4">
				<img
					src="assets/images/jaskaran8.png"
					alt="Jaskaran"
					class="picjas img-fluid"
				/>
			</div>
			<div class="col-md-8 mt-3">
				<p class="greet mb-0">Hello, world!</p>
				<p class="name mb-0">Jaskaran Singh</p>
				<p class="title text-secondary mb-0">Front End Developer</p>
				<p class="desc text-muted">
					Working as a professional freelancer. Keen to learn new
					technologies.
				</p>

				<ul class="list-inline">
					<li>
						<a
							href="https://www.facebook.com/CoderSingh"
							target="_blank"
							><i class="fab fa-facebook-f mr-3"></i
						></a>
						<a
							href="https://twitter.com/JaskaranSingh_1"
							target="_blank"
							><i class="fab fa-twitter mr-3"></i
						></a>
						<a
							href="https://www.linkedin.com/in/jaskaran15/"
							target="_blank"
							><i class="fab fa-linkedin mr-3"></i
						></a>
						<a
							href="https://www.instagram.com/codersingh/"
							target="_blank"
							><i class="fab fa-instagram mr-3"></i
						></a>
						<a
							href="https://github.com/TheCoderSingh"
							target="_blank"
							><i class="fab fa-github"></i
						></a>
					</li>
				</ul>

				<button
					type="button"
					class="btn btn-primary pl-4 pr-4"
					id="abtme"
				>
					About Me
				</button>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div id="skillsection">
		<div class="container">
			<div class="row skills">
				<div class="col-md-12">
					<p class="text-center sectionhead">
						<span class="subtxt">Skills</span> &
						<span class="subtxt">Expertise</span>
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<p class="text-center skilldesc text-muted">
						To achieve the goals, one must possess intelligence,
						skillfulness and clear intention. With constant practice
						and hard work, anything can be achieved. I work on these
						technologies all night long to add more to the list.
					</p>
				</div>
			</div>
			<div class="row text-center">
				<div class="col-md-12">
					<img
						src="assets/images/html5.png"
						alt="HTML5"
						class="img-fluid skill m-4"
					/>
					<img
						src="assets/images/css3.png"
						alt="CSS3"
						class="img-fluid skill m-4"
					/>
					<img
						src="assets/images/js.png"
						alt="JS"
						class="img-fluid skill m-4"
					/>
					<img
						src="assets/images/jquery.png"
						alt="jQuery"
						class="img-fluid skill m-4"
					/>
					<img
						src="assets/images/bootstrap.png"
						alt="Bootstrap"
						class="img-fluid skill m-4"
					/>
					<img
						src="assets/images/photoshop.png"
						alt="Photoshop"
						class="img-fluid skill m-4"
					/>
					<img
						src="assets/images/nodejs.png"
						alt="Node JS"
						class="img-fluid skill m-4"
					/>
					<img
						src="assets/images/angular.png"
						alt="Angular"
						class="img-fluid skill m-4"
					/>
					<img
						src="assets/images/firebase.png"
						alt="Firebase"
						class="img-fluid skill m-4"
					/>
					<img
						src="assets/images/pwa.png"
						alt="PWA"
						class="img-fluid skill m-4"
					/>
					<img
						src="assets/images/pawn.png"
						alt="Pawn"
						class="img-fluid skill m-4"
					/>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="exp" class="pt-5">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<p class="text-center sectionhead exptxt">
					Experience
				</p>
			</div>
		</div>
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-6">
					<div id="expright">
						<div class="row mt-5">
							<div class="col-md-12 job mb-5">
								<div class="jobtitle">
									<p class="mb-0">
										Software Engineer
									</p>
								</div>
								<div class="company">
									<p class="mb-0">Geekers Technologies</p>
								</div>
								<div class="duration">
									<p>(July 2018 - October 2018)</p>
								</div>
								<div class="jobdesc">
									Worked on various technologies including
									Angular, React Native, Django, Laravel etc.
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 job mb-5">
								<div class="jobtitle">
									<p class="mb-0">Bootcamp Intern</p>
								</div>
								<div class="company">
									<p class="mb-0">Statusbrew</p>
								</div>
								<div class="duration">
									<p>(June 2018)</p>
								</div>
								<div class="jobdesc">
									Worked on the PHP framework Symfony, Docker,
									Redis and many other technologies
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 job">
								<div class="jobtitle">
									<p class="mb-0">Bootcamp Intern</p>
								</div>
								<div class="company">
									<p class="mb-0">Statusbrew</p>
								</div>
								<div class="duration">
									<p>(June 2017)</p>
								</div>
								<div class="jobdesc">
									Worked on Angular 4 and created 'Phonebook'
									and 'Todo' applications.
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 text-center">
					<div class="office">
						<img
							src="assets/images/jasoffice.png"
							alt="Experience"
							class="img-fluid"
						/>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
