<div class="container">
	<div class="row mt-5">
		<div class="col-md-4">
			<img
				src="assets/images/jaskaran8.png"
				alt="Jaskaran"
				class="picjas"
			/>
		</div>
		<div class="col-md-8 mt-3">
			<p class="greet mb-0">Hello, world!</p>
			<p class="name mb-0">Jaskaran Singh</p>
			<p class="title text-secondary mb-0">Front End Developer</p>
			<p class="desc text-muted">
				Working as a professional freelancer. Keen to learn new
				technologies.
			</p>

			<ul class="list-inline">
				<li>
					<a href="#"><i class="fab fa-facebook-f mr-3"></i></a>
					<a href="#"><i class="fab fa-twitter mr-3"></i></a>
					<a href="#"><i class="fab fa-linkedin mr-3"></i></a>
					<a href="#"><i class="fab fa-instagram mr-3"></i></a>
					<a href="#"><i class="fab fa-github"></i></a>
				</li>
			</ul>

			<button type="button" class="btn btn-primary pl-4 pr-4" id="abtme">
				About Me
			</button>
		</div>
	</div>
	<div class="row skills">
		<div class="col-md-12">
			<p class="text-center sectionhead">
				<span class="subtxt">Skills</span> &
				<span class="subtxt">Expertise</span>
			</p>
		</div>
	</div>
	<div class="row text-center">
		<div class="col-md-12">
			<img
				src="assets/images/html5.png"
				alt="HTML5"
				class="img-fluid skill m-4"
			/>
			<img
				src="assets/images/css3.png"
				alt="CSS3"
				class="img-fluid skill m-4"
			/>
			<img
				src="assets/images/js.png"
				alt="JS"
				class="img-fluid skill m-4"
			/>
			<img
				src="assets/images/jquery.png"
				alt="jQuery"
				class="img-fluid skill m-4"
			/>
			<img
				src="assets/images/bootstrap.png"
				alt="Bootstrap"
				class="img-fluid skill m-4"
			/>
			<img
				src="assets/images/photoshop.png"
				alt="Photoshop"
				class="img-fluid skill m-4"
			/>
			<img
				src="assets/images/nodejs.png"
				alt="Node JS"
				class="img-fluid skill m-4"
			/>
			<img
				src="assets/images/angular.png"
				alt="Angular"
				class="img-fluid skill m-4"
			/>
			<img
				src="assets/images/firebase.png"
				alt="Firebase"
				class="img-fluid skill m-4"
			/>
			<img
				src="assets/images/pwa.png"
				alt="PWA"
				class="img-fluid skill m-4"
			/>
			<img
				src="assets/images/pawn.png"
				alt="Pawn"
				class="img-fluid skill m-4"
			/>
		</div>
	</div>
</div>
